/Semana-1/Ejercicio2-Traductor/nbproject/private/
/Semana-1/Ejercicio2-Traductor/build/
/Semana-1/Ejercicio6-Calculadora/nbproject/private/
/Semana-1/Ejercicio6-Calculadora/build/
/Semana-1/Ejercicio1-Palabras/nbproject/private/
/Semana-1/Ejercicio1-Palabras/build/
/Semana-1/Ejercicio-1/nbproject/private/
/Semana-1/Ejercicio-1/build/
/Semana-1/Serializacion-Clase/nbproject/private/
/Semana-1/Serializacion-Clase/build/
/Semana-1/Ejercicio-3/nbproject/private/
/Semana-1/Ejercicio-3/build/
/Semana-1/Calculadora/build/